[Match]
Name=lamb

[Network]
IPv4Forwarding=yes
IPv6Forwarding=yes
Address=172.20.44.254/24
Address=fd20:aa44:babe:20::254/64
IPv6SendRA=yes
DHCPPrefixDelegation=yes
DHCP=no

[IPv6SendRA]
Managed=yes
OtherInformation=yes
UplinkInterface=:auto

[DHCPPrefixDelegation]
UplinkInterface=:auto
