[Match]
Name=accp

[Network]
IPv4Forwarding=yes
Address=172.30.44.1/24
Address=fd30:aa44:babe:30::1/64
IPv6SendRA=yes
DHCPPrefixDelegation=yes
DHCP=no

[IPv6SendRA]
Managed=no
OtherInformation=yes
UplinkInterface=fd30:aa44:babe:30::1

[IPv6Prefix]
Prefix=fd30:aa44:babe:30::/64

[DHCPPrefixDelegation]
UplinkInterface=:auto
